.kaster {
	border-radius: none;
	padding: 30px;
	color: #fff;
}

.kaster-receive {
	border-radius: none;
	background: green;
	padding: 30px;
	color: #fff;
}

.kaster-requesting-session {
	-webkit-animation: colorCycle 0.3s;
	animation: colorCycle 0.3s;
}

.kaster-has-session {
	background-color: blue;
}

@-webkit-keyframes colorCycle {
	0% {
		background-color: blue;
	}
	50% {
		background-color: green;
	}
	100% {
		background-color: blue;
	}
}
@keyframes colorCycle {
	0% {
		background-color: blue;
	}
	50% {
		background-color: green;
	}
	100% {
		background-color: blue;
	}
}